/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#noContentTip{
    -fx-background:red;
    -fx-font-size: 40.0px;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 20.0px;
    -fx-border-width: 2.0px;
    -fx-padding: 20.0px;
}
.cover_bg{
    -fx-background-color: #AAAAAA;
}